* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.6rem;
}

p {
  font-size: 1.1rem;
  padding: 0 1rem;
}
div {
  padding: 0.3rem;
}

h1 {
  padding: 1rem 1rem;
  border-bottom: 1px solid #666;
  font-size: 2.2rem;
}

h2 {
  padding: 1rem 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

ul {
  padding: 0.5rem;
  margin-left: 1rem;
}
